In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# Need to do some calculation for Y, S,T (use ratios for prime)
# purple group they in text --> not as useful --> not all of them are ID like features some of them might be useful 
    # 1 tend to be very useful

In [3]:
# CHECK HIGH AND LOW !!! --> INVALID VALUES
# TRULY MISSING VALUES??? CHECK
# are HIGH LOW CONNECTED TO NULL VALUES 
# WHAT DOES - mean --> when does it happen 
# high and low of the IPO
# Pmid fair estimation of P(H) or P(L) --> UNDERPRICING DETECTING (Y1, Y2)

In [4]:
data = pd.read_excel('Competition1_raw_data.xlsx')
                    #dtype={'P(IPO)': float, 'P(1Day)': float})
# define dashes as missing --> 0 or NaN
data.head(5)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 22 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null object
P(H)       682 non-null object
P(L)       682 non-null object
P(1Day)    682 non-null object
C1         682 non-null object
C2         682 non-null object
C3         682 non-null object
C4         682 non-null object
C5         682 non-null object
C6         682 non-null object
C7         682 non-null object
T1         682 non-null object
T2         682 non-null object
T3         682 non-null object
T4         682 non-null object
T5         682 non-null object
S1         682 non-null object
S2         682 non-null object
S3         682 non-null object
dtypes: object(22)
memory usage: 117.3+ KB

In [6]:
# Companies that have dashes in some places 
data[(data['P(1Day)']=='-') & (data['P(IPO)']=='-') & (data['P(H)']=='-')& (data['C1']=='-')& (data['C2']=='-')& 
     (data['C3']=='-')& (data['C4']=='-')& (data['C5']=='-')& (data['C6']=='-')& (data['C7']=='-')& (data['I3']=='-')]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91

In [5]:
# I3
data.loc[data['I3'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38

In [7]:
# P(IPO)
data.loc[data['P(IPO)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91

In [8]:
# P(H)
data.loc[data['P(H)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38

In [9]:
# P(L)
data.loc[data['P(L)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38

In [10]:
# P(1Day)
data.loc[data['P(1Day)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,-,-,-,-,...,5000000,-,351,10352,9296,235,482,52,124,120
123,CIL,"China Intelligent Lighting & Electronics, Inc.",3640,3,5,4,-,-,-,59.261,...,3350000,59.261,406,12065,11056,282,667,72,169,182
203,ELMD,"Electromed, Inc.",3845,4,6,4,-,-,-,12.999,...,1700000,12.999,224,6146,5551,154,386,29,52,140
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
286,HPJ,"Highpower International, Inc.",3690,3.25,4,3,-,-,-,73.262,...,525000,73.262,377,10731,9703,240,486,45,104,96
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
357,LZEN,Lizhan Environmental Corp,2200,4,6,5,-,-,-,21.612,...,2500000,21.612,373,10261,9189,236,483,54,64,170
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
401,NBY,"NovaBay Pharmaceuticals, Inc.",2834,4,6,4,-,-,-,1.533,...,5000000,1.533,382,9959,9215,237,534,73,88,132
410,NIV,"NIVS IntelliMedia Technology Group, Inc.",3651,3.5,4,3.25,-,-,-,101.048,...,550000,101.048,451,12594,11210,298,565,63,115,170
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
496,RGLS,Regulus Therapeutics Inc.,2834,4,12,10,-,-,-,13.789,...,11250000,13.789,344,11091,10333,258,677,129,87,154
503,RNIN,"CREATIVE REALITIES,",7373,4,5,4,-,-,-,710.216,...,4500000,710.216,199,5073,4395,95,249,27,56,26
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38
615,TZYM,"Ocera Therapeutics, Inc.",2834,4,13,11,-,-,-,8.538,...,13500000,8.538,299,8480,7904,198,550,101,46,127
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [12]:
# C1
data.loc[data['C1'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,-,-,-,-,...,5000000,-,351,10352,9296,235,482,52,124,120
123,CIL,"China Intelligent Lighting & Electronics, Inc.",3640,3,5,4,-,-,-,59.261,...,3350000,59.261,406,12065,11056,282,667,72,169,182
203,ELMD,"Electromed, Inc.",3845,4,6,4,-,-,-,12.999,...,1700000,12.999,224,6146,5551,154,386,29,52,140
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
286,HPJ,"Highpower International, Inc.",3690,3.25,4,3,-,-,-,73.262,...,525000,73.262,377,10731,9703,240,486,45,104,96
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
357,LZEN,Lizhan Environmental Corp,2200,4,6,5,-,-,-,21.612,...,2500000,21.612,373,10261,9189,236,483,54,64,170
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
401,NBY,"NovaBay Pharmaceuticals, Inc.",2834,4,6,4,-,-,-,1.533,...,5000000,1.533,382,9959,9215,237,534,73,88,132
410,NIV,"NIVS IntelliMedia Technology Group, Inc.",3651,3.5,4,3.25,-,-,-,101.048,...,550000,101.048,451,12594,11210,298,565,63,115,170
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
496,RGLS,Regulus Therapeutics Inc.,2834,4,12,10,-,-,-,13.789,...,11250000,13.789,344,11091,10333,258,677,129,87,154
503,RNIN,"CREATIVE REALITIES,",7373,4,5,4,-,-,-,710.216,...,4500000,710.216,199,5073,4395,95,249,27,56,26
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38
615,TZYM,"Ocera Therapeutics, Inc.",2834,4,13,11,-,-,-,8.538,...,13500000,8.538,299,8480,7904,198,550,101,46,127
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [13]:
# C2
data.loc[data['C2'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,-,-,-,-,...,5000000,-,351,10352,9296,235,482,52,124,120
123,CIL,"China Intelligent Lighting & Electronics, Inc.",3640,3,5,4,-,-,-,59.261,...,3350000,59.261,406,12065,11056,282,667,72,169,182
203,ELMD,"Electromed, Inc.",3845,4,6,4,-,-,-,12.999,...,1700000,12.999,224,6146,5551,154,386,29,52,140
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
286,HPJ,"Highpower International, Inc.",3690,3.25,4,3,-,-,-,73.262,...,525000,73.262,377,10731,9703,240,486,45,104,96
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
357,LZEN,Lizhan Environmental Corp,2200,4,6,5,-,-,-,21.612,...,2500000,21.612,373,10261,9189,236,483,54,64,170
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
401,NBY,"NovaBay Pharmaceuticals, Inc.",2834,4,6,4,-,-,-,1.533,...,5000000,1.533,382,9959,9215,237,534,73,88,132
410,NIV,"NIVS IntelliMedia Technology Group, Inc.",3651,3.5,4,3.25,-,-,-,101.048,...,550000,101.048,451,12594,11210,298,565,63,115,170
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
496,RGLS,Regulus Therapeutics Inc.,2834,4,12,10,-,-,-,13.789,...,11250000,13.789,344,11091,10333,258,677,129,87,154
503,RNIN,"CREATIVE REALITIES,",7373,4,5,4,-,-,-,710.216,...,4500000,710.216,199,5073,4395,95,249,27,56,26
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38
615,TZYM,"Ocera Therapeutics, Inc.",2834,4,13,11,-,-,-,8.538,...,13500000,8.538,299,8480,7904,198,550,101,46,127
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [14]:
# C3
data.loc[data['C3'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
43,ARP,"ARC DOCUMENT SOLUTIONS, INC.",7334,13,16,14,13.75,112,1,-,...,13350000,-,507,12468,11248,289,701,79,140,142
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
113,CDM,"China Century Dragon Media, Inc.",7311,5.25,7,6,5.3,270,0,-,...,1200000,-,347,10344,9413,242,492,73,97,136
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,-,-,-,-,...,5000000,-,351,10352,9296,235,482,52,124,120
170,DG,DOLLAR GENERAL CORP,5331,21,23,21,22.73,85,1,-,...,34100000,9495.25,808,21623,19603,498,1310,194,232,326
172,DIVX,DIVX INC,7371,16,14,12,18.7,140,1,-,...,9100000,33.047,439,11526,10498,267,715,46,93,126
177,DMD,LEAF GROUP LTD.,7379,17,16,14,45.0372,173,1,-,...,8900000,-,797,22667,20515,549,1200,95,165,291
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
243,FTD,"FTD Group, Inc.",7389,13,14,12,13.6,78,1,-,...,15407693,397.06,486,16280,13922,350,674,48,73,112
247,GASS,StealthGas Inc.,4412,14.5,16,14,13.8,38,0,-,...,8000000,-,386,10343,9280,233,364,49,58,94
267,GSE,"GSE Holding, Inc.",3081,9,11,8,11.5,214,0,-,...,7000000,-,688,19260,17088,502,1066,133,205,231
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
277,HEES,"H&E Equipment Services, Inc.",7350,18,17,15,23.1,109,1,-,...,10937500,600.21,628,13202,11872,302,615,72,153,121
279,HERO,"HERCULES OFFSHORE, INC.",1381,20,20,18,0,111,1,-,...,9200000,-,494,12518,11207,297,603,49,103,135
310,IOMI,"INTERCELL USA, INC.",2834,7,9,7,6.8,121,1,-,...,5000000,-,330,8777,7987,198,504,69,69,142
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
412,NLSN,Nielsen Holdings plc,7374,23,22,20,25,237,1,-,...,71428572,5126,832,28081,24205,617,1530,185,447,310
416,NPTT,NPTEST HOLDING CORP,3825,12,3,11,11.49,92,1,-,...,14600000,243.491,411,11737,10440,275,784,66,133,289
431,OCNF,OCEANFREIGHT INC.,4412,19,21,19,1158.6,16,1,-,...,10750000,-,211,5205,4940,123,224,20,39,82
454,PBH,"Prestige Brands Holdings, Inc.",2834,16,16,14,17.75,197,1,-,...,28000000,87.92,625,15584,12784,369,510,79,110,83
475,PRTS,"U.S. Auto Parts Network, Inc.",5531,10,12,10,11.9,99,1,-,...,10000000,-,355,8667,7959,202,527,35,86,133
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
544,SNTA,"MADRIGAL PHARMACEUTICALS, INC.",2834,10,16,14,9.09,76,1,-,...,5000000,-,364,10471,9584,229,624,54,89,125
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
575,TEU,BOX SHIPS INC.,4412,12,17,15,11,10,1,-,...,11999999,-,208,6750,6382,144,314,13,49,65
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
599,TRW,ZF TRW AUTOMOTIVE HOLDINGS CORP,3714,28,30,28,27.1,81,1,-,...,24137931,-,646,19521,17558,437,1154,114,389,286
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38
616,UACL,"UNIVERSAL LOGISTICS HOLDINGS, INC.",4213,20,20,18,22.5,88,0,-,...,5300000,-,487,11489,10017,267,493,48,130,104
624,VCG,"WINDSTREAM HOLDINGS, INC.",4813,15,18,16,15.31,307,1,-,...,29375000,-,714,17324,15706,401,903,91,167,168
648,VTUS,"ASSEMBLY BIOSCIENCES, INC.",2834,6,7,6,31.5,150,0,-,...,2900000,-,235,7412,6551,156,353,33,77,67
655,WDAY,"Workday, Inc.",7372,28,26,24,48.69,43,1,-,...,22750000,-,461,13520,12211,315,722,57,70,129
672,XTXI,"ENLINK MIDSTREAM, INC.",1311,19.5,18.5,16.5,8.46667,75,0,-,...,2306000,-,554,13739,12268,325,843,65,139,174
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [15]:
# C4
data.loc[data['C4'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,-,-,-,-,...,5000000,-,351,10352,9296,235,482,52,124,120
123,CIL,"China Intelligent Lighting & Electronics, Inc.",3640,3,5,4,-,-,-,59.261,...,3350000,59.261,406,12065,11056,282,667,72,169,182
203,ELMD,"Electromed, Inc.",3845,4,6,4,-,-,-,12.999,...,1700000,12.999,224,6146,5551,154,386,29,52,140
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
286,HPJ,"Highpower International, Inc.",3690,3.25,4,3,-,-,-,73.262,...,525000,73.262,377,10731,9703,240,486,45,104,96
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
357,LZEN,Lizhan Environmental Corp,2200,4,6,5,-,-,-,21.612,...,2500000,21.612,373,10261,9189,236,483,54,64,170
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
401,NBY,"NovaBay Pharmaceuticals, Inc.",2834,4,6,4,-,-,-,1.533,...,5000000,1.533,382,9959,9215,237,534,73,88,132
410,NIV,"NIVS IntelliMedia Technology Group, Inc.",3651,3.5,4,3.25,-,-,-,101.048,...,550000,101.048,451,12594,11210,298,565,63,115,170
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
496,RGLS,Regulus Therapeutics Inc.,2834,4,12,10,-,-,-,13.789,...,11250000,13.789,344,11091,10333,258,677,129,87,154
503,RNIN,"CREATIVE REALITIES,",7373,4,5,4,-,-,-,710.216,...,4500000,710.216,199,5073,4395,95,249,27,56,26
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38
615,TZYM,"Ocera Therapeutics, Inc.",2834,4,13,11,-,-,-,8.538,...,13500000,8.538,299,8480,7904,198,550,101,46,127
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [16]:
# C5
data.loc[data['C5'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38

In [17]:
# C6
data.loc[data['C6'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38

In [18]:
# C7
data.loc[data['C7'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5,14,12,4.55,91,0,-0.74,...,8000000,-,334,11226,10056,276,-1,55,120,122
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
20,ALIM,ALIMERA SCIENCES INC,2834,11,17,15,11,174,1,-1.43,...,6550000,-,473,13801,12500,296,768,66,136,182
43,ARP,"ARC DOCUMENT SOLUTIONS, INC.",7334,13,16,14,13.75,112,1,-,...,13350000,-,507,12468,11248,289,701,79,140,142
45,ARTE,ARTES MEDICAL INC,2834,6,14,12,7.67,222,1,-1.42,...,4600000,-,280,8296,7337,178,514,37,77,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,VTUS,"ASSEMBLY BIOSCIENCES, INC.",2834,6,7,6,31.5,150,0,-,...,2900000,-,235,7412,6551,156,353,33,77,67
655,WDAY,"Workday, Inc.",7372,28,26,24,48.69,43,1,-,...,22750000,-,461,13520,12211,315,722,57,70,129
671,XTNT,XTENT INC,3841,16,18,16,16.48,178,1,-1.6,...,4700000,-,275,6542,6008,146,357,41,67,111
672,XTXI,"ENLINK MIDSTREAM, INC.",1311,19.5,18.5,16.5,8.46667,75,0,-,...,2306000,-,554,13739,12268,325,843,65,139,174
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [20]:
# T1 --> T5
data.loc[data['T1'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-

In [27]:
# S1 --> S3
data.loc[data['S3'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-

In [29]:
# T5 --> -1 
data.loc[data['T5'] == -1]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5,14,12,4.55,91,0,-0.74,...,8000000,-,334,11226,10056,276,-1,55,120,122

In [30]:
# S1 --> -1 
data.loc[data['S1'] == -1]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
134,COGT,"Cogent, inc.",7373,12,12,10,17.98,133,1,0.14,...,18000000,32.179,419,10764,9856,259,643,-1,97,134

In [37]:
# C3 --> -1 
data.loc[data['C3'] == -1]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
47,ASPV,Aspreva Pharmaceuticals CORP,2834,11,15,13,14.79,39,1,-1,...,7200000,-,223,5079,4700,104,292,29,60,76

In [48]:
# P(H) --> 0 
data.loc[data['P(H)'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
332,KIPS,"Kips Bay Medical, Inc.",3841,8,0,8,7.93,309,0,-0.7,...,2062500,0.223,341,9314,8647,218,519,55,119,102

In [50]:
# P(1Day) --> 0 
data.loc[data['P(1Day)'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
9,ACW,ACCURIDE CORP,3714,9,19,17,0,106,1,1.49,...,11000000,494.008,385,9134,8107,198,459,81,90,147
266,GSAT,"Globalstar, Inc.",4899,17,18,16,0,108,1,0.23,...,7500000,127.147,759,18196,16262,397,959,85,228,173
279,HERO,"HERCULES OFFSHORE, INC.",1381,20,20,18,0,111,1,-,...,9200000,-,494,12518,11207,297,603,49,103,135
364,MATH,SAJAN INC,3674,6,8,6,0,85,0,-0.95,...,4000000,130,235,5674,5085,132,284,27,66,63

In [52]:
# C2 --> 0 
data.loc[data['C2'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5,14,12,4.55,91,0,-0.74,...,8000000,-,334,11226,10056,276,-1,55,120,122
32,ANGO,ANGIODYNAMICS INC,3841,11,14,12,12.5,83,0,0.13,...,1950000,38.434,329,7154,6296,175,384,47,47,94
57,AVRX,AVALON PHARMACEUTICALS INC,2834,10.5,12,10,9.49,149,0,-1.63,...,2750000,1.9,270,6360,5780,146,356,63,38,72
72,BDAY,"CELEBRATE EXPRESS, INC",5961,15.5,15,13,16.7,96,0,-0.34,...,3200000,37.811,298,7231,6423,196,270,30,48,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,WSSI,"VISUAL SCIENCES, INC.",7372,8.5,9,8,9.04,124,0,-0.86,...,5000000,16.36,263,6650,6002,165,390,32,66,75
667,XCYT,"Cyclacel Pharmaceuticals, Inc",2834,8,15,13,511.7,158,0,-12.4,...,4200000,0.17,210,5099,4561,125,322,18,44,67
672,XTXI,"ENLINK MIDSTREAM, INC.",1311,19.5,18.5,16.5,8.46667,75,0,-,...,2306000,-,554,13739,12268,325,843,65,139,174
674,ZBB,"EnSync, Inc.",4911,6,6.5,5.5,29,234,0,-0.6,...,3333333,540.399,335,9278,8067,223,394,38,60,59
679,ZSTN,"ZST Digital Networks, Inc.",3663,8,8.5,7.5,7.52,112,0,0.6,...,3125000,55.431,335,9067,8066,217,435,38,82,90

In [53]:
# C3 --> 0 
data.loc[data['C3'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
36,APKT,ACME PACKET INC,3576,9.5,7.5,6.5,15.91,133,1,0,...,11474528,36.12,547,14728,13418,345,841,60,149,176
346,LMAT,LEMAITRE VASCULAR INC,3841,7,10,8,6.2,177,1,0,...,5500000,30.727,500,11490,10438,277,556,61,151,149
383,MM,Millennial Media Inc.,7311,13,11,9,25,84,1,0,...,10200000,103.678,560,16053,14755,395,818,70,108,145
628,VITC,"Vitacost.com, Inc.",7389,12,13,11,12.05,827,0,0,...,11000000,143.602,380,9286,8021,226,458,54,45,118
645,VSE,VERASUN ENERGY CORP,2860,23,22,21,30,76,1,0,...,18250000,236.359,397,10947,9388,244,398,26,74,92

In [57]:
# T2 --> 0 
data.loc[data['T2'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
125,CLD,CLOUD PEAK ENERGY INC.,1221,15,18,16,14.84,100,1,2,...,30600000,1239.71,656,0,18173,486,1135,77,229,219
199,EDG,Edgen Group Inc.,5150,11,16,14,9.5,120,1,-0.59,...,15000000,911.612,619,0,19153,474,1108,104,224,253

In [58]:
# T3 --> 0 
data.loc[data['T3'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
27,AMIS,AMIS HOLDINGS INC,3674,20,20,18,20.1,40,1,-0.41,...,30000000,345.322,527,15006,0,334,809,46,181,167
256,GMAN,"Gordmans Stores, Inc.",5600,11,15,13,11.03,97,1,0.13,...,5357143,438.135,385,12828,0,286,591,79,89,181
484,QNST,"QUINSTREET, INC",7389,15,19,17,15,84,1,0.38,...,10000000,260.527,539,16189,0,387,742,59,160,170

In [59]:
# T4 --> 0 
data.loc[data['T4'] == 0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
250,GGS,Global Geophysical Services Inc,1382,12,17,15,12,188,1,0.05,...,7500000,312.796,473,12699,11422,0,693,84,112,123
478,PSPT,"PeopleSupport, Inc.",7389,7,12,10,6.5,144,0,0.67,...,6818182,30.013,483,12658,11451,0,800,67,161,152

In [65]:
# P(H) < P(L)
data.loc[data['P(H)'] < data['P(L)']]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
332,KIPS,"Kips Bay Medical, Inc.",3841,8,0,8,7.93,309,0,-0.7,...,2062500,0.223,341,9314,8647,218,519,55,119,102
416,NPTT,NPTEST HOLDING CORP,3825,12,3,11,11.49,92,1,-,...,14600000,243.491,411,11737,10440,275,784,66,133,289

# PLAN
- In every stage make e.g. 5 different ways of doing that --> store that in a seperate notebook
- Connect pipelines in different ways (most probable)
- In the end have multiple notebooks/files to be tested

In [ ]:
# if you want to display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 30)

# Data Cleaning
1. Finding Null/wrong values
    - '-' --> some 
    - dtype --> All 
    - -1 --> T5, S1
    - 0 (P(1Day)), T2, T3, T4
    - I3 industry type
    - P(H) < P(L)
    - C2 (how to fill that)
2. Make assumptions to why this happen and how to resolve/imputate it
    STEP1: Dashes (P(H), P(L)) --> those that have P(IPO) average distance
    * STEP2: find out what is the industry classifier (I3) --> that have dashes 
    STEP3: infer average distance for P(1Day) --> cannot be more than 3x price --> mean distance
    STEP4: C1 --> C7 --> those that have information give best possible guess to fill in the dash (e.g. average distance)
    STEP5: ASSUMTION -1 means none 
    STEP6: appropriate guess for 0 
    STEP6: data[data['P(H)'] < data['P(L)']] --> replace with best guess/switch  
    STEP7: Dashes --> replace all dashes with NaN
    
    STEP8: replace nan's with imputation method: Median, mode, mean

In [68]:
# replace dashes, 0 and -1 with nan
data = data.replace('-',np.nan)
data = data.replace(0,np.nan)
data = data.replace(-1,np.nan)

In [ ]:
# difference between mean and median
print(data['P(IPO)'].mean())
print(data['P(IPO)'].median())

In [ ]:
# Assumption P(H) is much more likely to be larger than P(IPO)
data[(data['P(H)']>data['P(IPO)'])

In [ ]:
# standard deviation 
data[['P(IPO)','P(H)']].std()

In [ ]:
# median distance of P(IPO) and P(H)
# we take median because we want to avoid the extreme values if we take the mean 
data['IPO/H_dist'] = data['P(H)'] - data['P(IPO)'] 
data['IPO/H_dist'].median()

In [ ]:
# median distance of P(IPO) and P(L)
data['IPO/L_dist'] = data['P(IPO)'] - data['P(L)']
data['IPO/L_dist'].median()

In [ ]:
# median distance of P(H) and P(L)
data['H/L_dist'] = data['P(H)'] - data['P(L)'] 
data['H/L_dist'].median()

In [ ]:
# ASSUMPTION P(1Day) usually larger 
data[(data['P(1Day)']>data['P(IPO)'])

In [ ]:
# median distance between P(1Day) and P(IPO)
data['P(IPO)/P(1Day)_dist'] = data['P(1Day)'] - data['P(IPO)'] 
data['P(IPO)/P(1Day)_dist'].median()

## IMPUTING P(H)

In [ ]:
# Replacing P(H)
data.loc[data['I2'] == 'EUROSEAS LTD.', 'P(H)'] = 8

### Replacing C2

In [ ]:
# MOST OF THE COMPANIES THAT HAD THE UNDERWRITER RANKING ABOVE 8 stock price incerased on day 1 PRICE
better_writer_stock = data[(data['P(1Day)']>data['P(IPO)']) & (data['C2']==1)]

In [29]:
# Fill dashes where we have info on P(1Day) and P(IPO) and unknown C2
# If P(1Day) higher than P(IPO), C2 = 1, otherwise 0
data.loc[data['I1'] == 'CELM', 'C2'] = 
data.loc[data['I1'] == 'CELM', 'C2'] = 
data.loc[data['I1'] == 'ELMD', 'C2'] = 
data.loc[data['I1'] == 'ESEA', 'C2'] = 
data.loc[data['I1'] == 'EURX', 'C2'] = 
data.loc[data['I1'] == 'GSL', 'C2'] = 
data.loc[data['I1'] == 'HPJ', 'C2'] = 
data.loc[data['I1'] == 'LZEN', 'C2'] = 
data.loc[data['I1'] == 'NBY', 'C2'] = 
data.loc[data['I1'] == 'NIV', 'C2'] = 
data.loc[data['I1'] == 'RCH', 'C2'] = 
data.loc[data['I1'] == 'RGLS', 'C2'] = 
data.loc[data['I1'] == 'RNIN', 'C2'] = 
data.loc[data['I1'] == 'STRL', 'C2'] = 
data.loc[data['I1'] == 'TZOO', 'C2'] = 
data.loc[data['I1'] == 'TZYM', 'C2'] = 
data.loc[data['I1'] == 'ZGNX', 'C2'] =

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,NaN,NaN,0.0,NaN,...,5000000.0,NaN,351.0,10352.0,9296.0,235.0,482.0,52.0,124.0,120.0

In [67]:
#data.loc[((data['P(1Day)'] > data['P(IPO)']) & (data['C2']==np.nan)),'C2']=1

# I3 dashes and zereos
- Dolby Laboratories, Inc.	 3672.0
- DTS, INC.	3672.0
- RealD Inc.	 3672.0
- UNIVERSAL POWER GROUP	3674.0
- CHINA CGAME, INC.	0.0 --> Arhitecture --> 1600
- Access to Money, Inc.	0.0 --> 7011.0
- BLOUNT INTERNATIONAL INC	 1600
- GLOBAL SIGNAL INC	0.0 --> 3577.0
- National American University Holdings, Inc.	0.0 --> 8221.0
- ADCARE HEALTH SYSTEMS, INC	 8099
- TRAVELZOO INC	0.0 --> 7374.0
- KKR Financial Holdings LLC	 7011.0

In [5]:
data['I2'] = data['I2'].str.strip()

In [7]:
# replacing I3 (industry classifier)
data.loc[data['I2'] == 'Access to Money, Inc.', 'I3'] = 7011

In [8]:
#data[data['I2'] == 'Access to Money, Inc.']['I3'] = data[data['I2'] == 'Access to Money, Inc.']['I3']=7011

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Correct dtype conversion

In [ ]:
# I3 to integers
data['I3'] = data['I3'].str.strip()
data['I3'] = pd.to_numeric(data['I3'], errors='coerce')

# C2 to binary (integers)
data['C2'] = data['C2'].astype(int)

# Imputation
### Decide on the order + different pipelines 
- replace dashes (-), 0, -1, P(H) < P(L) with NaN
- number and % of missing data<br>
    - percent_missing = df.isnull().sum() * 100 / len(df)<br>
    missing_value_df = pd.DataFrame({'column_name': df.columns,'percent_missing': percent_missing})
- make them a seperate columns 

- correct dtype<br>
- column calculation 
    - the problem probably was because we made calculations for new columns before imputing (so first impute then calculate new columns)

Methods:
1. bbfill 
2. ffill
3. median
4. mean
5. mode
6. Treating missing as seperate value (new column/binary value)
7. Infer Baysen/classification tree's
    - http://nadbordrozd.github.io/blog/2017/03/05/missing-data-imputation-with-bayesian-networks/
    - https://pypi.org/project/predictive_imputer/
    - https://www.analyticsvidhya.com/blog/2016/03/tutorial-powerful-packages-imputing-missing-values/
    - https://xgboost.readthedocs.io/en/latest/
    - 
8. Binning??

In [ ]:
# imputing with mean 
cols = ['I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']
data[cols]=data[cols].fillna(data.mean().iloc[0])

In [ ]:
# with median
cols = ['I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']
data[cols]=data[cols].fillna(data.median().iloc[0])

In [ ]:
# with mode
cols = ['I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']
data[cols]=data[cols].fillna(data.mode().iloc[0])

In [ ]:
# with ffil
cols = ['I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']
for col in cols:
    data[col] = data[col].ffill(method='ffill')

In [ ]:
# with ffil
cols = ['I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']
for col in cols:
    data[col] = data[col].ffill(method='bfill')

## Calculations

In [ ]:
# P(mid) calculation and add it to the column 
# P(mid) = (P(H)+P(L))/2
data['P(mid)'] = (data['P(H)'] - data['P(L)'])/2

# targets to be calculated
# make it equal to P(IPO) then we will just replace
data['Y1'] = data['P(IPO)']
data['Y2'] = data['P(IPO)']

# replace Y1 and change dtype to binary
data.loc[(data['Y1'] < data['P(mid)']),'Y1'] = 1
data.loc[(data['Y1'] > data['P(mid)']),'Y1'] = 0
data['Y1'] = data['Y1'].astype(int)

# replace Y2
data.loc[(data['Y2'] < data['P(1Day)']),'Y2'] = 1
data.loc[(data['Y2'] > data['P(1Day)']),'Y2'] = 0
data['Y2'] = data['Y2'].astype(int)

# Control values to be calculated
data['C3`'] = data['C3']
data['C3`'] = np.where((data['C3'] > 0),1,data['C3`'])
data['C3`'] = np.where((data['C3'] < 0),0,data['C3`'])
data['C3`'] = data['C3`'].astype(int)

# C5`
data['C5`'] = data['C5']/data['C6']

# C6`
data['C6calc'] = ((data['P(IPO)'] - data['P(mid)']) / data['P(mid)']) * 1
data['C6`'] = 0
data['C6`'] = np.where((data['P(IPO)'] > data['P(mid)']),data['C6calc'],data['C6`'])
data['C6`'] = np.where((data['P(IPO)'] < data['P(mid)']),0,data['C6`'])

# Descriptive 
1. https://www.dataquest.io/blog/basic-statistics-with-python-descriptive-statistics/
- .describe()
- scipy.stats.describe(y, ddof=1, bias=False)
- https://realpython.com/python-statistics/


Some questions we could also answer: (NOT REQUIRED)
- how did companies do/were rated based on their EPS?
- does it have any effect on a company depending on the number of days its in the IPO process 
- does higher IPO price offer better performance/outlook
- in what condition the company is (EPS, earnings...) based on how many shares they sell
- does underwriter rating have any effect and is it correlated with positive/neg words, word lenght etc.
- Lower price more shares? higher earnings less shares?

# CORRELATION and simple plots 
- https://realpython.com/python-statistics/ (Towards the bottom)
- also in lectures that professors posted

In [ ]:
pd.plotting.scatter_matrix(data[cols], figsize=(14,14), hist_kwds={'bins':8}, alpha=.5, marker='o', s=50)

# Normality Test 
- https://machinelearningmastery.com/a-gentle-introduction-to-normality-tests-in-python/

- Histogram
- Quantile-Quantile Plot
- Statistical Normality Tests
- Shapiro-Wilk Test

# Normalization

# Standardization

# Discretization

# Conversion

# Outliers

# Data Reduction

# Extra

In [ ]:
# first count how many 0's
data = data.astype(str)
data['P(1Day)'] = data['P(1Day)'].str.strip()
data['P(1Day)'] = data['P(1Day)'].replace('-', 0)
data['P(1Day)'] = data['P(1Day)'].astype(float)

In [ ]:
data = data.astype(str)
data = data.replace('-',0)
data[['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']] = data[['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']].astype(float)

In [ ]:
data['C2'] = data['C2'].astype(int)

In [ ]:
data.info()

In [ ]:
# 
data['T2'].value_counts()

In [ ]:
# similarities between different null values 
sim = data[data['P(1Day)']==0]

In [ ]:
sim_missing_val = data[(data['P(1Day)']==0) & (data['P(IPO)']==0) & (data['P(H)']==0)].count()

In [ ]:
# number of zeros in each column 
(data == 0).astype(int).sum(axis=0)

In [ ]:
# Number of non-zero values 
data.astype(bool).sum(axis=0)

In [ ]:
data.head()

In [ ]:
# replace with nulls
# maybe we can run it with zeros/np.nan
cols = ["P(IPO)","P(H)","P(L)","P(1Day)","C1",'C2','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']
data[cols] = data[cols].replace({0:np.nan})

# Imputate with median
# check if it works right 
data[cols]=data[cols].fillna(data[cols].median())
#.iloc[0]
data['C5'] = data['C5'].fillna(data['C5'].median())

# display
data.head(12)

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
import matplotlib.pyplot as plt
plt.hist(data['P(IPO)'])
plt.show()

In [ ]:
pd.plotting.scatter_matrix(data[["P(IPO)","P(H)","P(L)"]], figsize=(14,14), hist_kwds={'bins':8}, alpha=.5, marker='o', s=50)

In [ ]:
no_object = data.select_dtypes(exclude=['object'])

In [ ]:
no_object.values

In [ ]:
# normalize with min/max
x = no_object.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

In [ ]:
# normalization with sklearn 
from sklearn import preprocessing
# Normalize P(IPO) column (1 column)
x_array = np.array(data['P(IPO)'])
normalized_X = preprocessing.normalize([x_array])

In [ ]:
normalized_X

In [ ]:
# mean normalization
normalized_df=(df-df.mean())/df.std()

# min/max normalization 
normalized_df=(df-df.min())/(df.max()-df.min())

# Note that `select_dtypes` returns a data frame. We are selecting only the columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols].apply(zscore)

# Standardization/normalization

In [ ]:
# STANDARDIZATION
# Get column names first
names = df.columns
# Create the Scaler object
scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=names)

In [ ]:
# Correlation Analysis

In [ ]:
# WHEN YOU HAVE ALL THE CALCULATIONS AND VARIATIONS DOWN DECIDE ON THE ORDER OF THE PROCESSING AND WHAT TO TRY AFTER
# THEN RUN THE MODEL