In [1]:
# imports
import pandas as pd
import numpy as np
import os

import pandas as pd

data = pd.read_excel('Competition1_raw_data.xlsx')
data

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,ZIP,ZIPCAR INC,7514,18,16,14,28,317,1,-0.37,...,9684109,186.101,537,13359,12303,329,676,87,106,173
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13,16,14,15.5,98,1,-0.41,...,7000000,25.461,496,13810,12515,321,784,70,126,173
679,ZSTN,"ZST Digital Networks, Inc.",3663,8,8.5,7.5,7.52,112,0,0.6,...,3125000,55.431,335,9067,8066,217,435,38,82,90
680,ZUMZ,Zumiez Inc,5600,19,17,15,12.435,78,1,0.2,...,3125000,117.857,256,7087,6445,182,306,48,38,100
681,ZZ,SEALY CORP,2510,16,16,14,8.34012,281,1,0.76,...,28000000,1469.57,413,11660,10544,277,636,94,103,158

In [50]:
#data.loc[data['T4'] == '-'] 
#data.drop(217,inplace=True)
#percent of long sentences
data["T1prime"] = data["T4"].astype(float)/data["T1"].astype(float)
#percent of real words
data["T3prime"] = data["T3"].astype(float)/data["T2"].astype(float)
#percent of long words
data["T4prime"] = data["T5"].astype(float)/data["T2"].astype(float)
#percent of positive words
data["S1prime"] = data["S1"].astype(float)/data["T2"].astype(float)
#percent of negative words
data["S2prime"] = data["S2"].astype(float)/data["T2"].astype(float)
#percent of uncertain words
data["S3prime"] = data["S2"].astype(float)/data["T2"].astype(float)
data

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,T1prime,S1prime,T3prime,T4prime,S2prime,S3prime
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,1120,71,242,237,0.644753,0.003258,0.898724,0.051395,0.011105,0.011105
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,325,61,33,60,0.636816,0.011593,0.909350,0.061764,0.006271,0.006271
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,509,80,59,110,0.539634,0.009686,0.917060,0.061630,0.007144,0.007144
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,720,67,149,167,0.587413,0.004518,0.888469,0.048550,0.010047,0.010047
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.2,94,1,0.06,...,815,62,96,181,0.643137,0.003445,0.774154,0.045280,0.005334,0.005334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,ZINC,Horsehead Holding Corp,3341,18,20,18,18.6,119,1,2.7,...,489,57,84,112,0.564516,0.005561,0.886537,0.047707,0.008195,0.008195
677,ZIP,ZIPCAR INC,7514,18,16,14,28,317,1,-0.37,...,676,87,106,173,0.612663,0.006512,0.920952,0.050603,0.007935,0.007935
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13,16,14,15.5,98,1,-0.41,...,784,70,126,173,0.647177,0.005069,0.906227,0.056770,0.009124,0.009124
679,ZSTN,"ZST Digital Networks, Inc.",3663,8,8.5,7.5,7.52,112,0,0.6,...,435,38,82,90,0.647761,0.004191,0.889600,0.047976,0.009044,0.009044
680,ZUMZ,Zumiez Inc,5600,19,17,15,12.435,78,1,0.2,...,306,48,38,100,0.710938,0.006773,0.909412,0.043178,0.005362,0.005362

## To Do:


- Drop dashes for those columns you use to calculate the target variables (Y1 and Y2) --> drop rows --> MEGAN
- I3 --> binning --> tech/non-tech, other --> MEGAN
- Set up the ratios (look at the hints at instructions) --> MARCUS 
- How to handle other missing values --> look at the photo --> ERIK 

- Baseline test --> BY MONAY HAVE THE BASELINE TEST 

- Normality test (shapiro, histograms, only look the continous) --> function kurtosis --> ERIK 
- Normalization (only continous) (log, etc.) --> aply it based on how the histograms look like (depending on the skew)
- Standardization (if with z score we have to normalize it, min-max no need)
- run test and use different columns --> do not use leakers (P, and T's, and S's you use for the calculations)

In [11]:
data = pd.read_excel('Competition1_raw_data.xlsx')
                    #dtype={'P(IPO)': float, 'P(1Day)': float})
# define dashes as missing --> 0 or NaN
data.head(5)
data["T1'"] = data["T1"]/data["T4"]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
data["t1'"] = data["t1"]/data["t4"]

## Drop Dashes

- Y1 & Y2: calculated with P(IPO), P(H), P(L), P(1day)
    
- Y1: set to 1 if P(IPO) < P(mid), where P(mid) = (P(H) + P(L))/2, otherwise 0
- Y2: set to 1 if P(IPO) < P(1day), otherwise 0

In [2]:
data = pd.read_excel('Competition1_raw_data.xlsx')
                    #dtype={'P(IPO)': float, 'P(1Day)': float})
# define dashes as missing --> 0 or NaN
data.head(5)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

In [3]:
#P(IPO)
data.loc[data['P(IPO)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91

In [4]:
#drop rows that P(IPO) has dashes in
data.drop(10, inplace=True)
data.drop(86, inplace=True)
data.drop(330, inplace=True)
data.drop(400, inplace=True)
data.drop(597, inplace=True)

In [5]:
#P(IPO)--check if rows dropped
data.loc[data['P(IPO)'] == '-']

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [6]:
# P(H)
data.loc[data['P(H)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
215,ESEA,EUROSEAS LTD.,4412,7,-,-,-,-,-,-,...,9602340,-,521,12812,11190,285,545,72,60,121
268,GSL,GLOBAL SIGNAL INC,-,18,-,-,-,-,-,-,...,7000000,-,631,19479,17409,451,976,71,252,155
490,RCH,"CHINA CGAME, INC.",-,3.5,-,-,-,-,-,-,...,737000,-,322,9820,8893,230,410,61,92,91
560,STRL,STERLING CONSTRUCTION CO INC,1600,15,-,-,-,-,-,-,...,2021758,-,310,7195,6393,172,325,44,65,85
614,TZOO,TRAVELZOO INC,-,3.5,-,-,-,-,-,-,...,-,-,146,3600,3189,88,181,5,26,38

In [7]:
data.drop(215, inplace=True)
data.drop(268, inplace=True)
data.drop(490, inplace=True)
data.drop(560, inplace=True)
data.drop(614, inplace=True)

In [8]:
# P(H)--check if rows dropped
data.loc[data['P(H)'] == '-']

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [9]:
# P(L)---no rows to drop
data.loc[data['P(L)'] == '-']

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [10]:
# P(1Day)
data.loc[data['P(1Day)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
115,CELM,"CHINA ELECTRIC MOTOR, INC.",3621,4.5,6.5,5.5,-,-,-,-,...,5000000,-,351,10352,9296,235,482,52,124,120
123,CIL,"China Intelligent Lighting & Electronics, Inc.",3640,3,5,4,-,-,-,59.261,...,3350000,59.261,406,12065,11056,282,667,72,169,182
203,ELMD,"Electromed, Inc.",3845,4,6,4,-,-,-,12.999,...,1700000,12.999,224,6146,5551,154,386,29,52,140
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-
286,HPJ,"Highpower International, Inc.",3690,3.25,4,3,-,-,-,73.262,...,525000,73.262,377,10731,9703,240,486,45,104,96
357,LZEN,Lizhan Environmental Corp,2200,4,6,5,-,-,-,21.612,...,2500000,21.612,373,10261,9189,236,483,54,64,170
401,NBY,"NovaBay Pharmaceuticals, Inc.",2834,4,6,4,-,-,-,1.533,...,5000000,1.533,382,9959,9215,237,534,73,88,132
410,NIV,"NIVS IntelliMedia Technology Group, Inc.",3651,3.5,4,3.25,-,-,-,101.048,...,550000,101.048,451,12594,11210,298,565,63,115,170
496,RGLS,Regulus Therapeutics Inc.,2834,4,12,10,-,-,-,13.789,...,11250000,13.789,344,11091,10333,258,677,129,87,154
503,RNIN,"CREATIVE REALITIES,",7373,4,5,4,-,-,-,710.216,...,4500000,710.216,199,5073,4395,95,249,27,56,26
615,TZYM,"Ocera Therapeutics, Inc.",2834,4,13,11,-,-,-,8.538,...,13500000,8.538,299,8480,7904,198,550,101,46,127
675,ZGNX,"ZOGENIX, INC.",2834,4,14,12,-,-,-,-,...,14000000,-,518,16898,15522,370,790,71,146,190

In [11]:
data.drop(115, inplace=True)
data.drop(123, inplace=True)
data.drop(203, inplace=True)
data.drop(217, inplace=True)
data.drop(286, inplace=True)
data.drop(357, inplace=True)
data.drop(401, inplace=True)
data.drop(410, inplace=True)
data.drop(496, inplace=True)
data.drop(503, inplace=True)
data.drop(615, inplace=True)
data.drop(675, inplace=True)

In [12]:
# P(1Day)--check if rows dropped
data.loc[data['P(1Day)'] == '-']

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 0 to 681
Data columns (total 22 columns):
I1         660 non-null object
I2         660 non-null object
I3         660 non-null object
P(IPO)     660 non-null object
P(H)       660 non-null object
P(L)       660 non-null object
P(1Day)    660 non-null object
C1         660 non-null object
C2         660 non-null object
C3         660 non-null object
C4         660 non-null object
C5         660 non-null object
C6         660 non-null object
C7         660 non-null object
T1         660 non-null object
T2         660 non-null object
T3         660 non-null object
T4         660 non-null object
T5         660 non-null object
S1         660 non-null object
S2         660 non-null object
S3         660 non-null object
dtypes: object(22)
memory usage: 118.6+ KB

## I3 Binning

* One way to convert a continuous variable to categorical is through binning. 
* You can bin your continuous variable using its distribution, any external knowledge, or some other logical reasons. 
* ONLY bin continuous

##Ranges taken from internet
0100-0999	Agriculture, Forestry and Fishing
1000-1499	Mining
1500-1799	Construction
1800-1999	not used
2000-3999	Manufacturing
4000-4999	Transportation, Communications, Electric, Gas and Sanitary service
5000-5199	Wholesale Trade
5200-5999	Retail Trade
6000-6799	Finance, Insurance and Real Estate
7000-8999	Services
9100-9729	Public Administration
9900-9999	Nonclassifiable

In [14]:
data.loc[data['I3'] == '-'] #no missing values

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [15]:
# I3 to integers
#data['I3'] = data['I3'].str.strip()
data['I3'] = pd.to_numeric(data['I3'], errors='coerce')
data['I3'].index = data['I3'].index.astype(int)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 0 to 681
Data columns (total 22 columns):
I1         660 non-null object
I2         660 non-null object
I3         656 non-null float64
P(IPO)     660 non-null object
P(H)       660 non-null object
P(L)       660 non-null object
P(1Day)    660 non-null object
C1         660 non-null object
C2         660 non-null object
C3         660 non-null object
C4         660 non-null object
C5         660 non-null object
C6         660 non-null object
C7         660 non-null object
T1         660 non-null object
T2         660 non-null object
T3         660 non-null object
T4         660 non-null object
T5         660 non-null object
S1         660 non-null object
S2         660 non-null object
S3         660 non-null object
dtypes: float64(1), object(21)
memory usage: 118.6+ KB

In [ ]:
0100-0999	Agriculture, Forestry and Fishing
1000-1499	Mining
1500-1799	Construction

2000-3999	Manufacturing
4000-4999	Transportation, Communications, Electric, Gas and Sanitary service
5000-5199	Wholesale Trade
5200-5999	Retail Trade
6000-6799	Finance, Insurance and Real Estate
7000-8999	Services
9100-9729	Public Administration
9900-9999	Nonclassifiable

In [30]:
def assign_bins(I3):
    if (I3 >= 100) and (I3 <= 999):       
        return(1)
    if (I3 >= 1000) and (I3 <= 1499):       
        return(2)
    if (I3 >= 1500) and (I3 <= 1799):       
        return(3)
    if (I3 >= 2000) and (I3 <= 3999):       
        return(4)
    if (I3 >= 4000) and (I3 <= 4999):       
        return(5)
    if (I3 >= 5000) and (I3 <= 5199):       
        return(6)
    if (I3 >= 5200) and (I3 <= 5999):       
        return(7)
    if (I3 >= 6000) and (I3 <= 6799):       
        return(8)
    if (I3 >= 7000) and (I3 <= 8999):       
        return(9)
    if (I3 >= 9100) and (I3 <= 9729):       
        return(10)
    if (I3 >= 9900) and (I3 <= 9999):       
        return(11)
    else:       
        return(0)

data['bins'] = data['I3'].apply(assign_bins)
data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,4
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,4
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,4
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,4
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,5

In [17]:
#2000-3999	Manufacturing
def assign_bins(I3):
    if (I3 >= 2000) and (I3 <= 3999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,0

In [18]:
#services and other (7000-8999)
def assign_bins(I3):  
    if (I3 >= 7000) and (I3 <= 8999):       # Creating a bin value of 1 for services
        return(1)
    else:                               # Creating a bin value of 0 for all other I3 values
        return(0)
   

data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,0

In [19]:
#1500-1799	Construction
def assign_bins(I3):
    if (I3 >= 1500) and (I3 <= 17999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,1
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,1
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,1
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,1

In [20]:
#4000-4999	Transportation, Communications, Electric, Gas and Sanitary service
def assign_bins(I3):
    if (I3 >= 4000) and (I3 <= 4999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,1

In [21]:
#5000-5199	Wholesale Trade
def assign_bins(I3):
    if (I3 >= 5000) and (I3 <= 5199):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,0

In [22]:
#5200-5999	Retail Trade
def assign_bins(I3):
    if (I3 >= 5200) and (I3 <= 5999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,0

In [23]:
#6000-6799	Finance, Insurance and Real Estate
def assign_bins(I3):
    if (I3 >= 6000) and (I3 <= 6799):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,0

In [24]:
#bin all columns--or just continuous?
#consider other binning ideas

#google SIC codes 
#they have bins
####use code from mini project two--winbins