In [11]:
# imports
import pandas as pd
import numpy as np
import os

import pandas as pd

data = pd.read_excel('Competition1_raw_data.xlsx')
data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

In [2]:
#drop rows that P(IPO) has dashes in
data.drop(10, inplace=True)
data.drop(86, inplace=True)
data.drop(330, inplace=True)
data.drop(400, inplace=True)
data.drop(597, inplace=True)

data.drop(215, inplace=True)
data.drop(268, inplace=True)
data.drop(490, inplace=True)
data.drop(560, inplace=True)
data.drop(614, inplace=True)

data.drop(115, inplace=True)
data.drop(123, inplace=True)
data.drop(203, inplace=True)
data.drop(217, inplace=True)
data.drop(286, inplace=True)
data.drop(357, inplace=True)
data.drop(401, inplace=True)
data.drop(410, inplace=True)
data.drop(496, inplace=True)
data.drop(503, inplace=True)
data.drop(615, inplace=True)
data.drop(675, inplace=True)

# I3 to integers
#data['I3'] = data['I3'].str.strip()
data['I3'] = pd.to_numeric(data['I3'], errors='coerce')
data['I3'].index = data['I3'].index.astype(int)

In [3]:
def assign_bins(I3):
    if (I3 >= 100) and (I3 <= 999):       
        return(1)
    if (I3 >= 1000) and (I3 <= 1499):       
        return(2)
    if (I3 >= 1500) and (I3 <= 1799):       
        return(3)
    if (I3 >= 2000) and (I3 <= 3999):       
        return(4)
    if (I3 >= 4000) and (I3 <= 4999):       
        return(5)
    if (I3 >= 5000) and (I3 <= 5199):       
        return(6)
    if (I3 >= 5200) and (I3 <= 5999):       
        return(7)
    if (I3 >= 6000) and (I3 <= 6799):       
        return(8)
    if (I3 >= 7000) and (I3 <= 8999):       
        return(9)
    if (I3 >= 9100) and (I3 <= 9729):       
        return(10)
    if (I3 >= 9900) and (I3 <= 9999):       
        return(11)
    else:       
        return(0)

data['bins'] = data['I3'].apply(assign_bins)
data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C7,T1,T2,T3,T4,T5,S1,S2,S3,bins
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10,9.5,8.5,11.87,122,1,3.43,...,51.345,470,12719,11560,301,690,62,117,139,4
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8,10,8,7.25,259,0,-1.62,...,25.936,791,21792,19585,510,1120,71,242,237,4
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7,14,12,6.7,90,1,-1.24,...,7.378,201,5262,4785,128,325,61,33,60,4
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16,14,12.39,209,1,-0.91,...,8.526,328,8259,7574,177,509,80,59,110,4
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21,21,19,56.6,80,1,0.07,...,632.298,572,14830,13176,336,720,67,149,167,5

In [25]:
#data.loc[data['T4'] == '-'] 
#data.drop(217,inplace=True)
#percent of long sentences
data["T1prime"] = data["T4"].astype(float)/data["T1"].astype(float)
#percent of real words
data["T3prime"] = data["T3"].astype(float)/data["T2"].astype(float)
#percent of long words
data["T4prime"] = data["T5"].astype(float)/data["T2"].astype(float)
#percent of positive words
data["S1prime"] = data["S1"].astype(float)/data["T2"].astype(float)
#percent of negative words
data["S2prime"] = data["S2"].astype(float)/data["T2"].astype(float)
#percent of uncertain words
data["S3prime"] = data["S2"].astype(float)/data["T2"].astype(float)
data

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C3`,C5`,C6calc,C6`,T1prime,T3prime,T4prime,S1prime,S2prime,S3prime
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,1,3.864345,19.0,19.0,0.640426,0.908876,0.054250,0.004875,0.009199,0.009199
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0,-1.62,...,0,12.028832,7.0,7.0,0.644753,0.898724,0.051395,0.003258,0.011105,0.011105
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,0,3.369134,6.0,6.0,0.636816,0.909350,0.061764,0.011593,0.006271,0.006271
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,0,3.299697,10.5,10.5,0.539634,0.917060,0.061630,0.009686,0.007144,0.007144
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,1,3.726269,20.0,20.0,0.587413,0.888469,0.048550,0.004518,0.010047,0.010047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,ZIP,ZIPCAR INC,7514,18.0,16.0,14.0,28.000000,317.0,1,-0.37,...,0,3.963872,17.0,17.0,0.612663,0.920952,0.050603,0.006512,0.007935,0.007935
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13.0,16.0,14.0,15.500000,98.0,1,-0.41,...,0,4.679726,12.0,12.0,0.647177,0.906227,0.056770,0.005069,0.009124,0.009124
679,ZSTN,"ZST Digital Networks, Inc.",3663,8.0,8.5,7.5,7.520000,112.0,0,0.60,...,1,3.673544,15.0,15.0,0.647761,0.889600,0.047976,0.004191,0.009044,0.009044
680,ZUMZ,Zumiez Inc,5600,19.0,17.0,15.0,12.435000,78.0,1,0.20,...,1,4.217684,18.0,18.0,0.710938,0.909412,0.043178,0.006773,0.005362,0.005362
681,ZZ,SEALY CORP,2510,16.0,16.0,14.0,8.340122,281.0,1,0.76,...,1,3.240507,15.0,15.0,0.670702,0.904288,0.054545,0.008062,0.008834,0.008834

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 660 entries, 0 to 681
Data columns (total 33 columns):
I1         660 non-null object
I2         660 non-null object
I3         656 non-null float64
P(IPO)     660 non-null object
P(H)       660 non-null object
P(L)       660 non-null object
P(1Day)    660 non-null object
C1         660 non-null object
C2         660 non-null object
C3         660 non-null object
C4         660 non-null object
C5         660 non-null object
C6         660 non-null object
C7         660 non-null object
T1         660 non-null object
T2         660 non-null object
T3         660 non-null object
T4         660 non-null object
T5         660 non-null object
S1         660 non-null object
S2         660 non-null object
S3         660 non-null object
bins       660 non-null int64
T1prime    660 non-null float64
T3prime    660 non-null float64
T4prime    660 non-null float64
S1prime    660 non-null float64
S2prime    660 non-null float64
S3prime    660 non-null float64
P(mid)     660 non-null object
Y1         660 non-null int64
Y2         660 non-null int64
C3`        660 non-null object
dtypes: float64(7), int64(3), object(23)
memory usage: 175.3+ KB

In [15]:
# dashes rows to be dropped for dashes --> P(IPO), P(H), P(L), P(1Day), C3
indexNames1 = data[data['P(IPO)'] == '-' ].index
indexNames2 = data[data['P(H)'] == '-' ].index
indexNames3 = data[data['P(1Day)'] == '-' ].index
indexNames4 = data[data['C3'] == '-' ].index

# Delete these row indexes from dataFrame
data.drop(indexNames1 , inplace=True)
data.drop(indexNames2 , inplace=True)
data.drop(indexNames3 , inplace=True)
data.drop(indexNames4 , inplace=True)

In [16]:
indexNames5 = data[data['C7'] == '-' ].index
data.drop(indexNames5 , inplace=True)

In [17]:
# changing to correct type --> to continous 
cols = ['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']
data[cols] = data[cols].astype(float)
# to int 
data['C2'] = data['C2'].astype(int)

In [18]:
# P(mid) calculation and add it to the column 
# P(mid) = (P(H)+P(L))/2
data['I3'] = data['I3'].astype(str)
data['C2'] = data['C2'].astype(int)
data['P(mid)'] = (data['P(H)'] - data['P(L)'])/2

# targets to be calculated
# make it equal to P(IPO) then we will just replace
data['Y1'] = data['P(IPO)']
data['Y2'] = data['P(IPO)']

# replace Y1 and change dtype to binary
data.loc[(data['Y1'] < data['P(mid)']),'Y1'] = 1
data.loc[(data['Y1'] > data['P(mid)']),'Y1'] = 0
data['Y1'] = data['Y1'].astype(int)

# replace Y2
data.loc[(data['Y2'] < data['P(1Day)']),'Y2'] = 1
data.loc[(data['Y2'] > data['P(1Day)']),'Y2'] = 0
data['Y2'] = data['Y2'].astype(int)

# Control values to be calculated
data['C3`'] = data['C3']
data['C3`'] = np.where((data['C3'] > 0),1,data['C3`'])
data['C3`'] = np.where((data['C3'] < 0),0,data['C3`'])
data['C3`'] = data['C3`'].astype(int)

# C5`
data['C5`'] = data['C5']/data['C6']

# C6`
data['C6calc'] = ((data['P(IPO)'] - data['P(mid)']) / data['P(mid)']) * 1
data['C6`'] = 0
data['C6`'] = np.where((data['P(IPO)'] > data['P(mid)']),data['C6calc'],data['C6`'])
data['C6`'] = np.where((data['P(IPO)'] < data['P(mid)']),0,data['C6`'])
data['C6`'] = np.where((data['P(mid)']==0),0,data['C6`'])

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 593 entries, 0 to 681
Data columns (total 29 columns):
I1         593 non-null object
I2         593 non-null object
I3         593 non-null object
P(IPO)     593 non-null float64
P(H)       593 non-null float64
P(L)       593 non-null float64
P(1Day)    593 non-null float64
C1         593 non-null float64
C2         593 non-null int64
C3         593 non-null float64
C4         593 non-null float64
C5         593 non-null float64
C6         593 non-null float64
C7         593 non-null float64
T1         593 non-null float64
T2         593 non-null float64
T3         593 non-null float64
T4         593 non-null float64
T5         593 non-null float64
S1         593 non-null float64
S2         593 non-null float64
S3         593 non-null float64
P(mid)     593 non-null float64
Y1         593 non-null int64
Y2         593 non-null int64
C3`        593 non-null int64
C5`        593 non-null float64
C6calc     593 non-null float64
C6`        593 non-null float64
dtypes: float64(22), int64(4), object(3)
memory usage: 139.0+ KB

In [20]:
data.columns

Index(['I1', 'I2', 'I3', 'P(IPO)', 'P(H)', 'P(L)', 'P(1Day)', 'C1', 'C2', 'C3',
       'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3',
       'P(mid)', 'Y1', 'Y2', 'C3`', 'C5`', 'C6calc', 'C6`'],
      dtype='object')

In [22]:
data.head(5)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,62.0,117.0,139.0,0.5,0,1,1,3.864345,19.0,19.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0,-1.62,...,71.0,242.0,237.0,1.0,0,0,0,12.028832,7.0,7.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,61.0,33.0,60.0,1.0,0,0,0,3.369134,6.0,6.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,80.0,59.0,110.0,1.0,0,1,0,3.299697,10.5,10.5
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,67.0,149.0,167.0,1.0,0,1,1,3.726269,20.0,20.0

In [23]:
data.isna().sum()

I1         0
I2         0
I3         0
P(IPO)     0
P(H)       0
P(L)       0
P(1Day)    0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
T1         0
T2         0
T3         0
T4         0
T5         0
S1         0
S2         0
S3         0
P(mid)     0
Y1         0
Y2         0
C3`        0
C5`        0
C6calc     0
C6`        0
dtype: int64

In [26]:
import numpy as np

In [10]:
np.isfinite(data).all()

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [26]:
data.to_csv('OMG')